<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>526540381947-f6ls2ijotd4hv56im0r3s7ebvr9juhff.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.526540381947-f6ls2ijotd4hv56im0r3s7ebvr9juhff</string>
	<key>API_KEY</key>
	<string>AIzaSyA58jBr4bmW2eLYyvVIuTw6pAGP4jdb38w</string>
	<key>GCM_SENDER_ID</key>
	<string>526540381947</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.litCitrus.zamongcampus</string>
	<key>PROJECT_ID</key>
	<string>litcitrus-2fc7a</string>
	<key>STORAGE_BUCKET</key>
	<string>litcitrus-2fc7a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:526540381947:ios:dc6e8ea81b2948755dda5e</string>
</dict>
</plist>