<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>394062181437-ttatdrrf5na1ekuug4t7h9nqbf17bi92.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.394062181437-ttatdrrf5na1ekuug4t7h9nqbf17bi92</string>
	<key>API_KEY</key>
	<string>AIzaSyCHZo0SaIBWupXE2DZooXVnwcKHQQjG2xI</string>
	<key>GCM_SENDER_ID</key>
	<string>394062181437</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mateCampus.zamongcampus</string>
	<key>PROJECT_ID</key>
	<string>mate-campus</string>
	<key>STORAGE_BUCKET</key>
	<string>mate-campus.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:394062181437:ios:09d1ec4eb521b3c8eb2654</string>
</dict>
</plist>